*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: linear-gradient(70deg,#F8FAFC,#D9EAFD,#BCCCDC,#9AA6B2);
}
.search{
    width: 40vw;
    border-radius: 30px;
    background: linear-gradient(70deg,#3D90D7,#7AC6D2,#B5FCCD);
}
.header{
    display: flex;
}
.header img{
    margin-top: 25px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
h1{
    padding-top: 30px;
    padding-left: 40px;
    color: antiquewhite;
}
.entryBox{
    display: flex;
    justify-content:space-between ;
    background: #edeef0;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
    padding-left:20px;
    border-radius: 30px;
}
input{
    flex:1;
    border: 0;
    outline: 0;
    background: transparent;
    font-weight: 14px;
    padding: 10px 10px;
}
.inputbtn{
    border: 0;
    outline: 0;
    background: #4466f0;
    padding: 16px 50px;
    font-size:16px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
}
.taskList{
    margin-left: 40px;
    margin-top: 30px;
    padding-bottom: 40px;
    color: #aa386d;
}
ul li{
    padding: 8px 8px 12px 50px;
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(/Day2_todoList/images/unchecked.png);
    background-size: cover;
    background-position: center;
    /* top: 12px; */
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/Day2_todoList/images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    bottom:1px;
    width: 40px;
    height: 40px;
    font-size:22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background-color: #4466f0;
    border-radius: 50%;
}