*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
body{
    height: 100vh;
    background: linear-gradient(to right,#5409DA,#4E71FF);
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    background-color:rgb(255, 255, 255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 300px;
    width: 600px;
    padding: 20px;
}
#container h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #2e2e2e;
    font-weight: 700;
    text-align: center;
}
#quote{
    padding-top: 10px;
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
}
#quote p{
    padding-top: 20px;
    text-align: right;
}#action {
  display: flex;
  justify-content: center;
}

#action .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  border-radius: 20px;
  height: 40px;
  width: 130px;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  background-color: #aabbee;
  color: #222;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

#action .btn:hover {
  background-color: #3344ff;
  color: white;
}

#action .btn:hover .icon {
  filter: brightness(0) invert(1);
}

.icon {
  height: 16px;
  margin-right: 7px;
  transition: filter 0.3s;
}
