*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
body{
    background: linear-gradient(to right,#9FB3DF,#9EC6F3,#BDDDE4,#FFF1D5);
}
.container{
    margin: 100px 100px;
    padding: 20px;
}
.container h1 img{
    width: 50px;
    height: 50px;
}
.container h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding-top: 10px;
}
.container hr{
    width: 400px;
}
.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 0;
    border: 0;
    border-radius: 30px;
    background:linear-gradient(to bottom,#000957,#675fb8);
    width: 200px;
    margin-top: 30px;
    height: 70px;
    font-weight: 300;
    font-size: 18px;
    color: white;
    padding-right: 10px;
    cursor: pointer;
}
.btn img{
     width: 30px;
    height: 30px;
    padding-bottom: 5px;
}
.notes-container{
    min-height: 200px;
    max-height: 200vh;
}
.input-box{
    position: relative;
    margin-top: 25px;
    background-color: #fff;
    width:400px;
    min-height: 200px;
    max-height: 500vh;
    padding: 20px;
    border-radius: 10px;
}
.notes-container img{
    width: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}